In [14]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.arima_model import ARIMA
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [15]:
cpu = pd.read_csv('/root/kalyan-thesis/jupyter/csv/cpu.csv', parse_dates = [0], index_col = [0])

In [16]:
cpu

            Cpu_Resource
Date
2021-03-24            88
2021-03-24            89
2021-03-24            82
2021-03-24            86
2021-03-24            88
2021-03-24            81
2021-03-24            77
2021-03-24            76

In [17]:
#cpu.plot()

In [18]:
#plot_pacf(cpu) #lags=3

In [19]:
#plot_acf(cpu, lags=3)

In [20]:
cpu.describe()

       Cpu_Resource
count      8.000000
mean      83.375000
std        5.125218
min       76.000000
25%       80.000000
50%       84.000000
75%       88.000000
max       89.000000

In [21]:
cpu_mod = ARIMA(cpu, order=(1,2,0))

In [22]:
cpu_mod_fit = cpu_mod.fit()

In [23]:
cpu_mod_fit.aic

45.187907385345824

In [24]:
cpu_forecast = cpu_mod_fit.forecast(steps = 6)[0]

In [25]:
cpu_forecast

array([73.60799096, 71.6600604 , 69.38862852, 67.11458348, 64.70377739,
       62.21229103])

In [14]:
#os.system("echo %s >> /root/kalyan-thesis/jupyter/output/cpu_pred_output"%cpu_forecast)

0